<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--    <link rel="stylesheet" href="/css/main.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>

    <script type="text/javascript">
        $(document).ready( function () {
            $('#data').DataTable();
        } );
    </script>
</head>

<body>

<h2 th:if="${message}" th:text="${message}"/>

<div class="table-container">
    <table id="data" class="table table-striped table-bordered" style="width: 100%">
        <thead>
        <tr>
            <th>Id</th>
            <th>State</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        <tr class="sent">
            <td>165325</td>
            <td>Sent</td>
            <td>SMS</td>
        </tr>
        <tr class="unsent">
            <td>162578</td>
            <td>Unsent</td>
            <td>E-Mail</td>
        </tr>
        <tr class="unsent">
            <td>164679</td>
            <td>Unsent</td>
            <td>E-Mail</td>
        </tr>
        <tr class="sent">
            <td>160225</td>
            <td>Sent</td>
            <td>SMS</td>
        </tr>
        <tr class="sent">
            <td>163345</td>
            <td>Sent</td>
            <td>SMS</td>
        </tr>
        <tr class="sent">
            <td>163345</td>
            <td>Sent</td>
            <td>SMS</td>
        </tr>
        <tr class="sent">
            <td>163345</td>
            <td>Sent</td>
            <td>SMS</td>
        </tr>
        <tr class="sent">
            <td>163345</td>
            <td>Sent</td>
            <td>SMS</td>
        </tr>
        <tr class="sent">
            <td>163345</td>
            <td>Sent</td>
            <td>SMS</td>
        </tr>
        <tr class="unsent">
            <td>163345</td>
            <td>Sent</td>
            <td>SMS</td>
        </tr>
        <tr class="unsent">
            <td>163345</td>
            <td>Sent</td>
            <td>SMS</td>
        </tr>
        <tr class="unsent">
            <td>163345</td>
            <td>Sent</td>
            <td>SMS</td>
        </tr>
        <tr class="sent">
            <td>163345</td>
            <td>Sent</td>
            <td>SMS</td>
        </tr>
        <tr class="sent">
            <td>163345</td>
            <td>Sent</td>
            <td>SMS</td>
        </tr>
        <tr class="sent">
            <td>163345</td>
            <td>Sent</td>
            <td>SMS</td>
        </tr>
        <tr class="sent">
            <td>163345</td>
            <td>Sent</td>
            <td>SMS</td>
        </tr>
        <tr class="unsent">
            <td>163345</td>
            <td>Sent</td>
            <td>SMS</td>
        </tr>
        <tr class="sent">
            <td>163345</td>
            <td>Sent</td>
            <td>SMS</td>
        </tr>
        <tr class="sent">
            <td>163345</td>
            <td>Sent</td>
            <td>SMS</td>
        </tr>
        <tr class="unsent">
            <td>163345</td>
            <td>Sent</td>
            <td>SMS</td>
        </tr>
        <tr class="sent">
            <td>163345</td>
            <td>Sent</td>
            <td>SMS</td>
        </tr>
        <tr class="sent">
            <td>163345</td>
            <td>Sent</td>
            <td>SMS</td>
        </tr>
        <tr class="unsent">
            <td>163345</td>
            <td>Sent</td>
            <td>SMS</td>
        </tr>
        <tr class="sent">
            <td>163345</td>
            <td>Sent</td>
            <td>SMS</td>
        </tr>
        <tr class="sent">
            <td>163345</td>
            <td>Sent</td>
            <td>SMS</td>
        </tr>
        <tr class="unsent">
            <td>163345</td>
            <td>Sent</td>
            <td>SMS</td>
        </tr>
        <tr class="sent">
            <td>163345</td>
            <td>Sent</td>
            <td>SMS</td>
        </tr>
        <tr class="sent">
            <td>163345</td>
            <td>Sent</td>
            <td>SMS</td>
        </tr>
        <tr class="unsent">
            <td>163345</td>
            <td>Sent</td>
            <td>SMS</td>
        </tr>
        <tr class="sent">
            <td>163345</td>
            <td>Sent</td>
            <td>SMS</td>
        </tr>
        <tr class="sent">
            <td>163345</td>
            <td>Sent</td>
            <td>SMS</td>
        </tr>
        <tr class="unsent">
            <td>163345</td>
            <td>Sent</td>
            <td>SMS</td>
        </tr>
        <tr class="sent">
            <td>163345</td>
            <td>Sent</td>
            <td>SMS</td>
        </tr>
        <tr class="sent">
            <td>163345</td>
            <td>Sent</td>
            <td>SMS</td>
        </tr>
        <tr class="unsent">
            <td>163345</td>
            <td>Sent</td>
            <td>SMS</td>
        </tr>
        <tr class="sent">
            <td>163345</td>
            <td>Sent</td>
            <td>SMS</td>
        </tr>
        <tr class="sent">
            <td>163345</td>
            <td>Sent</td>
            <td>SMS</td>
        </tr>
        <tr class="unsent">
            <td>163345</td>
            <td>Sent</td>
            <td>SMS</td>
        </tr>
        <tr class="sent">
            <td>163345</td>
            <td>Sent</td>
            <td>SMS</td>
        </tr>
        <tr class="sent">
            <td>163345</td>
            <td>Sent</td>
            <td>SMS</td>
        </tr>
        <tr class="unsent">
            <td>163345</td>
            <td>Sent</td>
            <td>SMS</td>
        </tr>
        <tr class="sent">
            <td>163345</td>
            <td>Sent</td>
            <td>SMS</td>
        </tr>
        <tr class="sent">
            <td>163345</td>
            <td>Sent</td>
            <td>SMS</td>
        </tr>
        <tr class="unsent">
            <td>163345</td>
            <td>Sent</td>
            <td>SMS</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>